<div id="container">
  <div id="topbar">
    <text-button text="Scales" [inverted]="true" (click)="this.show_settings()"></text-button>
  </div>
  <icon-button id="home" icon="home" [inverted]="true" (click)="this.home()"></icon-button>
  <icon-button id="skip" icon="next_plan" (click)="this.skip()"></icon-button>

  <div id="background" (click)="this.hide_keyboard()">
    <question-carousel [ngClass]="{'move-up': this.keyboard_shown}"></question-carousel>
  </div>

  <input-panel
    [nb_inputs]="1"
    (inputClicked)="this.input_clicked()"  
    (checkClicked)="this.check_clicked()"
    [ngClass]="{'move-up': this.keyboard_shown}"
  ></input-panel>

  <keyboard
    (noteclicked)="this.note_clicked($event)"
  ></keyboard>
</div>

<settings-panel (start)="this.settings_changed($event)"></settings-panel>
