@import "src/globals";

#container {
  width: 60px;
  height: 60px;
  background-color: $theme-primary;
  border-radius: 25px;
  box-shadow: inset 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
  border: 0px solid $theme-lighter;
  transition: border 0.3s, background-color 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

  &.selected {
    border: 5px solid $theme-lighter;
  }

  &.valid {
    background-color: #8EB488;
  }

  &.invalid {
    background-color: #BF6262;
  }
}

#label {
  color: white;
  font-family: "Just Another Hand";
  font-size: 3em;
  margin-top: 10px;
}
