<div id="container">
  <div id="topbar">
    <title-button (click)="this.show_settings()"></title-button>
  </div>

  <div id="background" (click)="this.hide_keyboard()">
    <div id="question">
      <div id="subquestion">{{ this.question }}</div>
      <div id="bigquestion">{{ this.question_root }} </div>
    </div>
    <div id="spacer" [ngClass]="{'lower': this.keyboard_hidden}"></div>
  </div>

  <settings-panel
    (clickOutside)="this.hide_settings()"
    [ngClass]="{'hidden': this.settings_hidden}"
  ></settings-panel>
  <div id="answer-overflow-container" #answer_overflow_container
      [ngClass]="{'lower': this.keyboard_hidden, 
                 'left': this.check_hidden == false,
                 'noscroll': this.check_hidden}">
    <div id="answer-container">
      <div id="answer-panel" #answer_panel [ngClass]="{'slide': this.success}">
        <div id="row1">
          <answer-input (click)="this.show_keyboard()"></answer-input>
        </div> 
        <div id="success-container" [ngClass]="{'show': this.success}">
          <div id="success-message">
            Success
          </div>
        </div>
      </div>
      <check-button #check_button (click)="this.check_clicked()"></check-button>
    </div>
  </div>

  <keyboard
    [ngClass]="{'hidden': this.keyboard_hidden}"
    (noteclicked)="this.note_clicked($event)"
  ></keyboard>
</div>
