@import "../../../globals";

#button {
  color: white;
  border-radius: 30px;
  font-size: 1.5em;
  padding: 6px 16px 6px 16px;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.45);

  &.inverted {
    color: $theme-primary;
    background-color: white;
  }

  &:active {
    background-color: #D0D0D0;
  }
}

