<div id="container" [ngClass]="{'show' : this.shown}">
  <div id="sharp-notes">
    <div></div>
    <div class="sharp-note" id="c-sharp" (click)="this.register_click(1)"></div>
    <div class="sharp-note" id="a-sharp" (click)="this.register_click(3)"></div>
    <div></div>
    <div class="sharp-note" id="g-sharp" (click)="this.register_click(6)"></div>
    <div class="sharp-note" id="f-sharp" (click)="this.register_click(8)"></div>
    <div class="sharp-note" id="d-sharp" (click)="this.register_click(10)"></div>
    <div></div>
  </div>
  <div id="notes">
    <div class="note" id="c" (click)="this.register_click(0)"></div>
    <div class="note notopround" id="d" (click)="this.register_click(2)"></div>
    <div class="note" id="e" (click)="this.register_click(4)"></div>
    <div class="note" id="f" (click)="this.register_click(5)"></div>
    <div class="note notopround" id="g" (click)="this.register_click(7)"></div>
    <div class="note notopround" id="a" (click)="this.register_click(9)"></div>
    <div class="note" id="b" (click)="this.register_click(11)"></div>
  </div>
  <div id="background"></div>
</div>
